.pop-new-card:target,
.pop-browse:target {
  display: block;
}

.pop-wrap {
  position: relative;
  top: 0;
  left: 0;
}

.calendar__p {
  color: #94A6BE;
  font-size: 10px;
  line-height: 1;
}

.calendar__p span {
  color: #000000;
}

._active-day {
  background-color: #94A6BE;
  color: #FFFFFF;
}



/* ADAPTIVE */


@media screen and (max-width: 660px) {
  .pop-new-card {
    top: 70px;
  }

  .pop-new-card__container {
    padding: 0;
    justify-content: flex-start;
  }

  .pop-new-card__block {
    border-radius: 0;
  }

  .pop-new-card__wrap {
    display: block;
  }



  .calendar .date-create {
    display: none;
    margin-bottom: 7px;
  }

  .calendar__p {
    font-size: 14px;
  }


  .pop-browse {
    top: 70px;
  }

  .pop-browse__container {
    padding: 0;
    justify-content: flex-start;
  }

  .pop-browse__block {
    border-radius: 0;
  }

  .pop-browse__wrap {
    display: block;
  }
}

@media screen and (max-width: 495px) {


  .pop-new-card__container {
    padding: 0;
    justify-content: flex-start;
  }

  .pop-new-card__block {
    padding: 20px 16px 32px;
  }

  .pop-new-card__form {
    max-width: 100%;
    width: 100%;
    display: block;
  }

  .pop-new-card__calendar {
    width: 100%;
  }

  .form-new__area {
    max-width: 100%;
    height: 34px;
  }

  .form-new__create {
    width: 100%;
    height: 40px;
  }

  .pop-browse__block {
    padding: 20px 16px 32px;
  }

  .pop-browse__content .theme-down {
    display: block;
    margin-bottom: 20px;
  }

  .pop-browse__content .theme-top {
    display: none;
  }

  .pop-browse__form {
    max-width: 100%;
  }

  .pop-browse__calendar {
    width: 100%;
  }

  .pop-browse__btn-browse button, .pop-browse__btn-edit button {
    width: 100%;
    height: 40px;
  }

  .pop-browse__btn-browse .btn-group, .pop-browse__btn-edit .btn-group {
    width: 100%;
  }

  .pop-browse__btn-browse .btn-group button, .pop-browse__btn-edit .btn-group button {
    margin-right: 0px;
  }

  .form-browse__area {
    max-width: 100%;
  }

  .form-browse__area {
    height: 37px;
  }
}